<%
  chat_url = @data_key_chaturl_
  support_number = @data_key_phone_number
%>
<script>
    function openChat() {
        var chaturl = '<%= chat_url %>'
        window.open(chaturl + '/chat.html', 'ChatWithSupport', 'width=400,height=600');
        return false;
    }
</script>

<div class="header">
<%= portal_image_tag('ApogeeLogo.png', style: 'height: 50px; max-width: 200px')  %>
</div>

<div class="container">
    <h1>How did my device get quarantined?</h1>
    <p>The Device has initiated an excessive number of connections to the Internet. This can jeopardize the internet experience for all users.</p>
    <h2>Possible Causes:</h2>
    <ul>
        <li>Missing critical Operating System Updates</li>
        <li>Peer2Peer programs running in the background</li>
        <li>Malware infecting the device</li>
    </ul>

    <h1>What can I do to prevent this from reoccurring?</h1>
    <ul>
        <li>Update all network drivers</li>
        <li>Update Operating System</li>
        <li>Clear your browser cache and cookies</li>
        <li>Scan your device for malware</li>
    </ul>
    <h1>What happens now?</h1>
    <ul>
        <li>The Quarantine will expire in 6 hours from the start of quarantine</li>
        <li>Complete the four remediation steps above during the remaining quarantine period</li>
        <li>Reach out to Apogee Support if you're quarantined again after the initial 6-hour period and have followed the steps in the previous section, or if you need help completing these tasks.</li>
    </ul>
    <p>Note: During quarantine, you still have online access to update your OS, search for driver updates on manufacturer websites, refresh your antivirus definitions, and conduct a malware scan.</p>
</div>
<div class="footer">
    <span>Need additional support: Call: <%= support_number %>  |  Chat:</span>
    <a href="#" onclick="return openChat();">
        <%= portal_image_tag('support-chat.png', alt: 'Chat With Support', style: 'vertical-align: middle') %>
        Chat With Support
    </a>
</div>
